.pure-g.homepage
  = react_component("HeaderHome", {chcprice: 1}, class: "pure-u-1")
  = react_component("TransactionContainer", {graphicData: @graphicData, type: 'graphic'}, class: "pure-u-1")
  = react_component("GuideSection", {yellow: @text_yellow, blue: @text_blue, red: @text_red}, class: "pure-u-1")
  = react_component("AdvantagesList", {advantages: @advantages}, class: "pure-u-1")
  = react_component("MarketExchange", {coins: @coins, markets: @markets}, class: "pure-u-1")
  = react_component("AppPromo", {images: @slider}, class: "pure-u-1")
  = react_component("BlogList", {posts: @posts}, class: "pure-u-1")
  = react_component("FaqList", {faqs: @faqs}, class: "pure-u-1")
