.pure-g.homepage
  = render '/visitors/partials/header'
  = render '/visitors/partials/transaction'
  = render '/visitors/partials/guide'
  = react_component("AdvantagesList", {advantages: @advantages})
  = react_component("MarketExchange", {coins: @coins, markets: @markets})
  = render '/visitors/partials/app'
  = render '/visitors/partials/blog'
  = render '/visitors/partials/faq'
