%section.-flex-center.pure-u-1.app-container.section-container.-skew-container-inverted#app
  .slider-container.-default
    = image_tag('slider1', class: 'slider-image -default')
    = image_tag('slider2', class: 'slider-image -default')
    = image_tag('slider3', class: 'slider-image -default')
    = image_tag('slider4', class: 'slider-image -default')
    = image_tag('slider5', class: 'slider-image -default')
    = image_tag('slider6', class: 'slider-image -default')
    = image_tag('slider7', class: 'slider-image -default')
    = image_tag('slider8', class: 'slider-image -default')
    = image_tag('slider9', class: 'slider-image -default')
  .limited-wrapper.-app.-center-around
    .device-illustration.mobile-normal.-app-section
      .speaker
      .button.-devise
        %span.tool-tip
          Clickeame, soy genial!
      .device-image-container.-backgrounda.slider-container.-devise
        = image_tag('slider1', class: 'slider-image -devise')
        = image_tag('slider2', class: 'slider-image -devise')
        = image_tag('slider3', class: 'slider-image -devise')
        = image_tag('slider4', class: 'slider-image -devise')
    .pure-u-1.pure-u-lg-1-2.content
      %h3.pure-u-1.main-title.-left.-bold._marginbottom-md.-left-center.-fullwidth
        Una aplicación suprema e intergaláctica
      %p.tag-text.-white._marginbottom-md.-midsize.-left-center
        Con nuestra app podrás usar Chavezcoin para realizar compras de manera rápida, segura y económica.
      %p.tag-text.-white._marginbottom-md.-midsize.-left-center
        Bienvenido al futuro, bienvenido a Chavezcoin.