%section.-flex-center.pure-u-1.blog-container.section-container#blog
  .menssage-container
    %h3.pure-u-1.main-title.-black.-bold._marginbottom-md
      Aló Presidente
    %p.tag-text.-black.-center._marginbottom-md
      Entérate de todo lo nuevo referente a Chavezcoin y el mundo de las cryptodivisas.
  .limited-wrapper.blog.-flex-around
    %article.pure-u-1.pure-u-md-11-24.pure-u-lg-7-24.blog-box
      %figure.photo
        = image_tag('tablet-content.jpg', class: 'image')
      %header.content
        %h4.main-title.-smallsize.-black.-left
          El efecto Bitcoin en la cultura moderna
        %i.fa.fa-ellipsis-v.share-options
        %i.fa.fa-angle-right.blog-button.-go
      .hover-hidden-panel
        %h4.main-title.-smallsize.-left
          Comparte esto con tus amigos
        .rounded-links
          = link_to 'facebook', class: 'link' do
            %i.fa.fa-facebook.icon
          = link_to 'twitter', class: 'link' do
            %i.fa.fa-twitter.icon
          = link_to 'Google Plus', class: 'link' do
            %i.fa.fa-google-plus.icon
        %i.close
          x
      .info
        .pure-u-5-12.autor
          %figure.photo.pure-u-7-24
            = image_tag('alex.jpg', class: 'avatar')
          %span.tag-text.name.pure-u-2-3
            Alexander Pulido
        %p.tag-text.pure-u-13-24.date-category
          %span.tag-text.date
            1 de Julio
          %span.tag-text.-green
            en
          %span.tag-text.category
            Cryptodivisas
    %article.pure-u-1.pure-u-md-11-24.pure-u-lg-7-24.blog-box
      %figure.photo
        = image_tag('tablet-content.jpg', class: 'image')
      %header.content
        %h4.main-title.-smallsize.-black.-left
          El efecto Bitcoin en la cultura moderna
        %i.fa.fa-ellipsis-v.share-options
        %i.fa.fa-angle-right.blog-button.-go
      .hover-hidden-panel
        %h4.main-title.-smallsize.-left
          Comparte esto con tus amigos
        .rounded-links
          = link_to 'facebook', class: 'link' do
            %i.fa.fa-facebook.icon
          = link_to 'twitter', class: 'link' do
            %i.fa.fa-twitter.icon
          = link_to 'Google Plus', class: 'link' do
            %i.fa.fa-google-plus.icon
        %i.close
          x
      .info
        .pure-u-5-12.autor
          %figure.photo.pure-u-7-24
            = image_tag('alex.jpg', class: 'avatar')
          %span.tag-text.name.pure-u-2-3
            Alexander Pulido
        %p.tag-text.pure-u-13-24.date-category
          %span.tag-text.date
            1 de Julio
          %span.tag-text.-green
            en
          %span.tag-text.category
            Cryptodivisas
    %article.pure-u-1.pure-u-md-11-24.pure-u-lg-7-24.blog-box
      %figure.photo
        = image_tag('tablet-content.jpg', class: 'image')
      %header.content
        %h4.main-title.-smallsize.-black.-left
          El efecto Bitcoin en la cultura moderna
        %i.fa.fa-ellipsis-v.share-options
        %i.fa.fa-angle-right.blog-button.-go
      .hover-hidden-panel
        %h4.main-title.-smallsize.-left
          Comparte esto con tus amigos
        .rounded-links
          = link_to 'facebook', class: 'link' do
            %i.fa.fa-facebook.icon
          = link_to 'twitter', class: 'link' do
            %i.fa.fa-twitter.icon
          = link_to 'Google Plus', class: 'link' do
            %i.fa.fa-google-plus.icon
        %i.close
          x
      .info
        .pure-u-5-12.autor
          %figure.photo.pure-u-7-24
            = image_tag('alex.jpg', class: 'avatar')
          %span.tag-text.name.pure-u-2-3
            Alexander Pulido
        %p.tag-text.pure-u-13-24.date-category
          %span.tag-text.date
            1 de Julio
          %span.tag-text.-green
            en
          %span.tag-text.category
            Cryptodivisas