%section.hero-banner.-login
  .hero-vertical-skew-section.-left
  .hero-vertical-skew-section.-right
  .bg-hero
  .limited-wrapper.-center-start
    = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'dual-panel-form -login'}) do |f|
      .pure-u-1.pure-u-md-2-5.form-panel.-background
        .content
          %h2.main-title.-left.-fullwidth._nomargin
            Un placer
          %h2.main-title.-left.-lgsize.-fullwidth
            verlo de nuevo, camarada
        %span.tag-text.-white.-midsmall
          No tienes una cuenta?
          = render "devise/shared/link_signup"
          y empieza a ganar Chavezcoin!
      .pure-u-1.pure-u-md-3-5.form-panel.-form
        %h2.main-title.-left-center.-midsize.-black
          Ingresar al sistema
        = f.email_field :email, autofocus: true, :class => 'field', :placeholder => 'Email'
        = f.password_field :password, autocomplete: "off", :class => 'field', :placeholder => 'Contraseña'
        - if devise_mapping.rememberable?
          .form-fields.-separated
            .field
              = f.check_box :remember_me, :class => 'hidden'
              %label.checkbox-custom{ :for => "user_remember_me" }
              %label.tag-text.-uppercase.-lightblack.-bold
                Recordarme
            .field
              = render "devise/shared/link_forgot_pass"
        = f.submit "Ingresar", :class => 'main-button -blue'
        - if devise_mapping.omniauthable?
          .form-fields.-center
            = render "devise/shared/link_social"
