%html
  %head
    %title= content_for?(:title) ? "#{yield(:title)} | ChavezCoin" : "ChavezCoin"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %meta{:name => "description",                                         |
          :content => content_for?(:description) ? yield(:description) :  |
          "Maneja tu dinero como nunca con Chavezcoin"}/    |
    = favicon_link_tag "favicon.ico"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    - if @visitor_country['countryCode'] == 'VE' || @visitor_country['countryCode'] == 'MX' || @visitor_country['countryCode'] == 'AR' || @visitor_country['countryCode'] == 'BO' || @visitor_country['countryCode'] == 'CL' || @visitor_country['countryCode'] == 'CO' || @visitor_country['countryCode'] == 'EC' || @visitor_country['countryCode'] == 'ES' || @visitor_country['countryCode'] == 'JM' || @visitor_country['countryCode'] == 'PA' || @visitor_country['countryCode'] == 'PY' || @visitor_country['countryCode'] == 'PE' || @visitor_country['countryCode'] == 'PR' || @visitor_country['countryCode'] == 'DO' || @visitor_country['countryCode'] == 'UY' || @visitor_country['countryCode'] == 'CU'
      = react_component("NavMenu", {link_root: root_path, session_link: @link}, class: "pure-u-1")
    - else
      = react_component("NavMenuEnglish", {link_root: root_path, session_link: @link}, class: "pure-u-1")
    = yield
    = react_component("Footer")