%html
  %head
    %title= content_for?(:title) ? "#{yield(:title)} | Chavezcoin" : "Chavezcoin"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %meta{:name => "description",                                         |
          :content => content_for?(:description) ? yield(:description) :  |
          "Maneja tu dinero como nunca con Chavezcoin"}/    |
    = favicon_link_tag "favicon.ico"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = react_component("NavMenu", {link_root: root_path}, class: "pure-u-1")
    = yield
    = react_component("Footer")